<div class="container col-md-3">
    <h2 style="color:red;">User Login</h2>
    <form (ngSubmit)="userLogin()">
        <div class="mb-3">
            <label for="userId" class="form-label">Username</label>
            <input type="text" [(ngModel)]="user.userId" class="form-control" id="userId" name="userId">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>